@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
  font-family: 'Noto Sans Japanese', sans-serif;
}

#main{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-in{
  width: 50%;
  height: 90%;
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  text-align: center;
}

.top-image, .catch, .detail{
  margin: 4em 1em 0 1em;
}

img.top-img{
  width:30%;
}

h1{
  font-size: 1.7em;
}

h2{
  font-size: 1.2em;
}

@media screen and (max-width:1600px) {

#main-in{
  width: 60%;
  height: 90%;
}

h1{
  font-size: 1.7em;
}

h2{
  font-size: 1.2em;
}

.detail{
  font-size: 0.9em;
}

}

@media screen and (max-width:1200px) {

#main-in{
  width: 70%;
  height: 90%;
}

h1{
  font-size: 1.7em;
}

h2{
  font-size: 1.2em;
}

.detail{
  font-size: 0.9em;
}

}


@media screen and (max-width:780px) {

#main-in{
  width: 80%;
  height: 90%;
}

img.top-img{
  width:50%;
}

h1{
  font-size: 1.7em;
}

h2{
  font-size: 1.2em;
}

.detail{
  font-size: 0.8em;
}

}


@media screen and (max-width:500px) {

#main-in{
  width: 80%;
  height: 90%;
}

img.top-img{
  width:70%;
}

h1{
  font-size: 1.3em;
}

h2{
  font-size: 0.9em;
}

.detail{
  font-size: 0.8em;
}

}
